* {
  box-sizing: border-box;
  margin: 0px;
}

.container-fiestas {
  background-color: #f8f8f8;
  height: 700px;
  padding: 100px 110px 0px 110px;
}

.container-sub-fiestas {
  background-color: grey;
}

.container-fiestas__container-sections {
  background-color: blueviolet;
}

.container-fiestas__mini-containers {
  height: 130px;
  background-color: yellow;
  border: 1px solid black;
  margin: 0px;
}
